<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading -->

  <div class="panel-body">

    <div id="slides" class="transitions-enabled">
      <% @slides.each do |slide| %>
        <div class="box panel panel-default">
          <%= link_to image_tag(slide.image.url(:medium), class: "img-responsive"), slide %>
          <div class="panel-body">
            <div class="actions">
              <%= link_to t('.edit'), edit_slide_path(slide) %> | 
              <%= link_to t('.destroy'), slide, method: :delete, data: { confirm: t('.confirm') }  %>
            </div>
          </div> <!-- ./panel-body -->
        </div> <!-- ./panel-default -->
      <% end %>
    </div>

    <div class="center">
       <%= will_paginate @slides, renderer: BootstrapPagination::Rails %>
    </div>

  </div>
<div class="panel-footer">
    <%= link_to t('.new_slide'), new_slide_path %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
