<p id="notice"><%= notice %></p>

<p>
  <strong>Bild in Präsentation anzeigen:</strong>
  <%= @slide.showcasable %>
</p>

<p>
  <%= image_tag(@slide.image.url, class: "img-responsive") %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
