<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading -->

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong><%= t('.showcasable') %>:</strong>
      </div>
      <div class="col-xs-6 col-md-9">
        <%= @slide.showcasable %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong><%= t('.image') %>:</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= image_tag(@slide.image.url, class: "img-responsive") %>
      </div>
    </div>
   </div> <!-- /.panel-body -->

   <div class="panel-footer">
    <%= link_to t('.edit'), edit_slide_path(@slide) %> |
    <%= link_to t('.back'), :back %>
   </div> <!-- /.panel-footer -->
 </div> <!-- /.panel panel-default -->