<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2><%= resource_name.to_s.humanize %> bearbeiten</h2>
  </div> <!-- /.panel-heading -->

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

     <div class="form-group">
       <%= f.label :name %>
       <%= f.text_field :name, autofocus: true, class: "form-control" %>
     </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Warte auf Best&auml;tigung f&uuml;r: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, "Passwort" %> <i>(Leer lassen, wenn keine &Auml;nderung gew&uuml;nscht ist)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Passwort bestätigen" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "Aktuelles Passwort" %> <i>(Wir ben&ouml;tigen dein derzeitiges Passwort um deine &Auml;nderungen zu best&auml;tigen.)</i>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div> <!-- /.panel-body -->

  <div class="panel-footer">
    <h3>Account l&ouml;schen</h3>

    <p><%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %></p>

    <%= link_to "Zurück", :back %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
