<%= form_for(@appointment) do |f| %>
<% if @appointment.errors.any? %>
<div id="error_explanation">
  <h2><%= t('errors.template.header', model: t('activerecord.models.appointment'), count: @appointment.errors.count) %></h2>
  <ul>
    <% @appointment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.label :begin_date, t('.begin_date') %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="input-group date">
        <%= f.text_field :begin_date, value: @appointment.begin_date_nullsafe, class: "form-control" %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
  </div> 
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.label :begin_time, t('.begin_time') %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.time_select :begin_time, { minute_step: 15 }, { 'data-width' => "47.93%", class: "selectpicker" } %>
    </div>

  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.label :external_participant_salutation, t('.external_participant_salutation') %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.select( :external_participant_salutation, @appointment.options_for_salutation, { }, { 'data-width' => "100%", :class => "selectpicker"} ) %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :external_participant_title, t('.external_participant_title') %>
  <%= f.text_field :external_participant_title, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :external_participant_name, t('.external_participant_name') %>
  <%= f.text_field :external_participant_name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :external_participant_company, t('.external_participant_company') %>
  <%= f.text_field :external_participant_company, class: "form-control" %>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.label :clear_group_employee_salutation, t('.clear_group_employee_salutation') %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= f.select( :clear_group_employee_salutation, @appointment.options_for_salutation, { }, { 'data-width' => "100%", :class => "selectpicker"} ) %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :clear_group_employee_name, t('.clear_group_employee_name') %>
  <%= f.text_field :clear_group_employee_name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.submit t('.submit'), class: "btn btn-primary" %>
</div>
<% end %>
