<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :begin_date, 'Datum' %>
    <div class="input-group date">
      <%= f.text_field :begin_date, class: "form-control" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div> 
  </div>
  <div class="form-group">
    <%= f.label :begin_time, 'Von' %></br>
    <%= f.time_select :begin_time, { minute_step: 15 }, { 'data-width' => "auto", class: "selectpicker" } %> <%= f.label 'Uhr' %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, 'Bis' %></br>
    <%= f.time_select :end_time, { minute_step: 15 }, { 'data-width' => "auto", class: "selectpicker" } %> <%= f.label 'Uhr' %>
  </div>
  <div class="form-group">
    <%= f.label :external_participant_salutation, 'Teilnehmer Anrede' %> </br>
    <%= f.select( :external_participant_salutation, options_for_select( [ ['Herr', 'Herr'], ['Frau', 'Frau'] ] ), { }, { 'data-width' => "auto", :class => "selectpicker"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :external_participant_title, 'Teilnehmer Titel' %>
    <%= f.text_field :external_participant_title, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :external_participant_name, 'Teilnehmer Name' %>
    <%= f.text_field :external_participant_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :external_participant_company, 'Teilnehmer Firma' %>
    <%= f.text_field :external_participant_company, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :clear_group_employee_salutation, 'Clear Group Mitarbeiter Anrede' %> </br>
    <%= f.select( :clear_group_employee_salutation, options_for_select( [ ['Herr', 'Herr'], ['Frau', 'Frau'] ] ), { }, { 'data-width' => "auto", :class => "selectpicker"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :clear_group_employee_name, 'Clear Group Mitarbeiter Name' %>
    <%= f.text_field :clear_group_employee_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Speichern", class: "btn btn-primary" %>
  </div>
<% end %>
