<p>
  <%= link_to t('.start'), "#start" %> | <%= link_to t('.sign_in'), "#sign_in" %> | <%= link_to t('.menu'), "#menu" %> | <%= link_to t('.preview'), "#preview" %> | <%= link_to t('.calendar'), "#calendar" %> | <%= link_to t('.appointments'), "#appointments" %> | <%= link_to t('.edit_appointment'), "#edit_appointment" %> | <%= link_to t('.view_appointment'), "#view_appointment" %>
</p>
