<div class="row" id="logo">
	<div class="col-xs-6 col-md-6" id="logo_column">
		<img src="../images/logo.jpg" class="img-responsive" alt="Clear Group Logo">
	</div> <!-- ./col logo_column -->	
</div> <!-- ./row logo-->
<div class="row" id="jumbotron_row">
	<div class="jumbotron">
		<div class="row" id="greeting_row">
			<div class="col-xs-8 col-md-8 col-md-offset-1" id="greeting_column">
				<h2>Die Clear Group begr&uuml;&szlig;t heute:</h2>
			</div> <!-- ./col greeting_column -->
		</div> <!-- ./row greeting_row -->	
		<div class="row" id="appointments_row">
			<% @appointments.each do |appointment| %>
				<div class="row" id="one_appointment_row">
					<div class="row" id="time_participant_row">
						<div class="col-xs-2 col-md-2 col-md-offset-2" id="time_column">
							<h3><%= appointment.begin_date.to_formatted_s(:time) %> Uhr</h3>
						</div> <!-- ./col time_column -->
						<div class="col-xs-4 col-md-4" id="participant_column">
							<h3><%= appointment.external_participant_salutation %> <%= appointment.external_participant_name %>, <%= appointment.external_participant_company %></h3>
						</div> <!-- ./col particpiant_column -->							
					</div> <!-- ./row time_participant_row -->
					<div class="row" id="employee_row">
						<div class="col-xs-4 col-md-4 col-md-offset-4" id="employee_column">
							<h4>Bei <%= appointment.clear_group_employee_salutation %> <%= appointment.clear_group_employee_name %></h4>
						</div> <!-- ./col employee_column -->						
					</div> <!-- ./row employee_row -->	
				</div> <!-- ./row one_appointment_row -->
			<% end %>
		</div> <!-- ./row appointments_row -->	
	</div> <!-- ./jumbotron -->	
</div> <!-- ./row jumbotron_row -->	
