<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading --> 

  <div class="panel-body">

    <%= render 'appointments/help_nav' %>
    <%= render 'appointments/help_start_sign_in' %>
    <hr class="padded">
    <%= render 'appointments/help_menu' %>
    <hr class="padded">
    <%= render 'appointments/help_preview' %>
    <hr class="padded">
    <%= render 'appointments/help_calendar' %>
    <hr class="padded">
    <%= render 'appointments/help_appointments' %>
    <hr class="padded">
    <%= render 'appointments/help_edit_appointment' %>
    <hr class="padded">
    <%= render 'appointments/help_view_appointment' %>

  </div> <!-- /.panel-body -->
  <div class="panel-footer">
    <%= render 'appointments/help_nav' %>
  </div> <!-- /.panel-footer -->  
</div> <!-- /.panel panel-default -->  
