<div class="menu">
	<ol>
		<li><a href="#Start">Start</a></li>
		<li><a href="#Anmeldung">Anmeldung</a></li>
		<li><a href="#Menueleiste">Menüleiste</a></li>
		<li><a href="#Vorschau">Vorschau</a></li>
		<li><a href="#Kalenderansicht">Kalenderansicht</a></li>
		<li><a href="#Termine">Termine</a></li>
		<li><a href="#TerminBearbeiten">Termin anlegen/bearbeiten</a></li>
		<li><a href="#Termindetails">Termindetails</a>
	</ol>
</div>
<div class="left">
	<div class="row">
		<h3>Start<a name="Start"></a></h3>
		<p>
			Um den CLEAR GROUP Welcome Screen zu öffnen, gibt man im Browser (am Besten Mozilla Firefox oder Google Chrome) <a href="http://192.168.15.180">"192.168.15.180"</a> ein. Es öffnet sich der Startbildschirm. Es befindet sich hier eine Menüleiste, über die man sich bei der Welcome Screen Administration anmelden kann. Desweiteren kann man über das CLEAR GROUP Logo eine Vorschau öffnen, wie die aktuelle Anzeige am Welcome Screen wäre.
		</p>
		<figure>
			<%= image_tag("../images/Start.png") %>
			<figcaption>Der Start</figcaption>
		</figure>
	</div>
	<div class="row">
		<h3>Anmeldung<a name="Anmeldung"></a></h3>
		<p>
			Zur Anmeldung müssen Sie in den Felden E-Mail und Passwort Ihre Daten eintragen und auf den Button "Anmelden" klicken. Folgende User gibt es:
			<table>
				<tr>
					<th>E-Mail</th>
					<th>Passwort</th>
				</tr>
				<tr>
					<td>welcome@clear-group.de</td>
					<td>welcome2clear</td>
				</tr>
				<tr>
					<td>admin@clear-group.de</td>
					<td>admin@welcome</td>
				</tr>
			</table>
		</p>
		<figure>
			<%= image_tag("../images/Anmeldung.png") %>
			<figcaption>Die Anmeldung</figcaption>
		</figure>
	</div>
	<div class="row">
		<h3>Menüleiste<a name="Menueleiste"></a></h3>
		<p>
			Sie sind nun angemeldet und können mit der Administration des CLEAR GROUP Welcome Screen beginnen. Oben können Sie die Optionen erkennen, die Ihnen über die Menüleiste angeboten werden. Von links nach rechts können Sie:
			<ul>
				<li>Über das CLEAR GROUP Logo die <a href="#Vorschau">Vorschau</a> der aktuellen Anzeige öffnen</li>
				<li>Die <a href="#Kalenderansicht">Kalenderansicht</a> öffnen</li>
				<li>Die <a href="#Termine">Terminliste</a> öffnen</li>
				<li>Einen <a href="#TerminBearbeiten">neuen Termin</a> anlegen</li>
				<li>Die <a href="#Account">Einstellungen zu Ihrem Account</a> öffnen</li>
				<li>Sich abmelden</li>
			</ul>
		</p>
		<figure>
			<%= image_tag("../images/Menueleiste.png") %>
			<figcaption>Die Menüleiste</figcaption>
		</figure>
	</div>
	<div class="row">	
		<h3>Vorschau<a name="Vorschau"></a></h3>
		<p>
			Über das CLEAR GROUP Logo in der Menüleiste rufen Sie die Vorschau an, d.h. Sie sehen an Ihrem Monitor die Anzeige wie sie aktuell auf dem TV im Eingangsbereich wäre. Sollte kein Termin für den heutigen Tag eingetragen sein, so wird ein allgemeine Begrüßungsmeldung angezeigt.
		</p>
		<figure>
			<%= image_tag("../images/Vorschau_leer.png") %>
			<figcaption>Die Anzeige im Eingangsbereich, wenn für den heutigen Tag kein Termin eingetragen ist.</figcaption>
		</figure>
		<p>
			Ist für den heutigen Tag ein Termin eingetragen so wird dieser angezeigt. <i>Vorsicht, trägt man für den heutigen Tag einen Termin ein, so wird dieser direkt auf dem Monitor im Eingangsbereich sichtbar.</i>
		</p>
		<figure>
			<%= image_tag("../images/Vorschau.png") %>
			<figcaption>Die Anzeige im Eingangsbereich, wenn für den heutigen Tag kein Termin eingetragen ist.</figcaption>
		</figure>
		<p>
			Sollten an einem Tag mehr als fünf Termine eingetragen sein, so schaltet sich für die Anzeige eine spezielle Logik ein. Es werden immer fünf Termine angezeigt, Termine die schon vergangen sind werden 15 Minuten nach deren Starzeit ausgebelendet. Das passiert so lange, bis nur noch fünf Termine die in der Zukunft sind für den Tag eingetragen sind.
		</p>
		<p>
			Zur Verdeutlichung dieser Funktionaltität nutzen wir ein Beispiel. Für den heutigen Tag sind acht Termine eingetragen:
			<table>
				<tr>
					<th>Uhrzeit</th>
					<th>Name</th>
				</tr>
				<tr>
					<td>8:00 Uhr</td>
					<td>Termin1</td>
				</tr>
				<tr>
					<td>9:00 Uhr</td>
					<td>Termin2</td>
				</tr>
				<tr>
					<td>11:00 Uhr</td>
					<td>Termin3</td>
				</tr>
				<tr>
					<td>12:00 Uhr</td>
					<td>Termin4</td>
				</tr>
				<tr>
					<td>13:00 Uhr</td>
					<td>Termin5</td>
				</tr>
				<tr>
					<td>15:00 Uhr</td>
					<td>Termin6</td>
				</tr>
				<tr>
					<td>17:00 Uhr</td>
					<td>Termin7</td>
				</tr>
				<tr>
					<td>18:00 Uhr</td>
					<td>Termin8</td>
				</tr>
			</table></br>
			Die Anzeige funktioniert wie folgt:
			<ul>
				<li>Um 7:30 Uhr werden auf dem Monitor die Termine 1 bis 5 angezeigt</li>
				<li>Ab 8:15 Uhr werden dann die Termine 2 bis 6 angezeigt</li>
				<li>und so weiter...</li>
				<li>Ab 11:15 Uhr werden dann die Termine 4 bis 8 angezeigt</li>
			</ul>
			Da an dem heutigen Tag keine weiteren Termine mehr eingetragen sind bleibt das der Zustand, egal wie spät es wird. Termine 4 bis 8 bleiben angezeigt, bis der Tag auf morgen wechselt.
		</p>
	</div>
	<div class="row">	
		<h3>Kalenderansicht<a name="Kalenderansicht"></a></h3>
		<p>
			Die Kalenderansicht bietet unterschiedliche Möglichkeiten der Darstellung. Es gibt eine Monatsanzeige, eine Wochenanzeige und eine Tagesanzeige. Zwischen den drei Darstellungen läßt sich mit den Buttons rechts oben umschalten. Links oben befinden sich Buttons, um die Anzeige zum nächsten oder vorherigen Monat/Woche/Tag zu schalten, je nachdem in welcher Ansicht man sich befindet. Möchte man direkt wieder auf den heutigen Tag springen, so kann man den Button "Heute" drücken. Der aktuelle Tag wird im Kalender immer farblich hervorgehoben.
		</p>
		<p>
			Man kann über den Kalender einen <a href="#TerminBearbeiten">neuen Termin anlegen</a>, indem man auf ein Feld im Kalender klickt. Das richtige Datum (Monatsanzeige) und die richtige Uhrzeit (Wochen- und Tagesanzeige) werden direkt in die entsprechenden Felder übernommen.
		</p>
		<figure>
			<%= image_tag("../images/Kalender.png") %>
			<figcaption>Die Kalenderansicht mit unterschiedlichen Darstellungsmöglichkeiten</figcaption>
		</figure>
		<p>
			Sobald man sich mit der Maus über einen Termin bewegt, öffnet sich ein Tooltip mit den wichtigsten Infos zum Termin. Über einen Klick auf den Termin kommt man zur <a href="TerminBearbeiten">Terminbearbeitung</a>.
		</p>
		<figure>
			<%= image_tag("../images/Tooltip.png") %>
			<figcaption>Ein Tooltip mit den wichtigsten Informationen zum Termin</figcaption>
		</figure>
	</div>
	<div class="row">	
	<h3>Termine<a name="Termine"></a></h3>
		<p>
			In der Terminübersicht werden alle Termine angezeigt. Dabei steht der aktuellste Termin oben, auch wenn dieser in der Zukunft liegt. Man sieht die wichtigesten Daten zu einem Termin und kann diesen auch <a href="#Termindetails">anzeigen</a>, <a href="#TerminBearbeiten">bearbeiten</a> und löschen. Dazu ist ganz unten in der Anzeige noch die Möglichkeit einen neuen Termin anzulegen.
		</p>
		<figure>
			<%= image_tag("../images/Termine.png") %>
			<figcaption>Eine Übersicht über alle Termine</figcaption>
		</figure>
	</div>
	<div class="row">	
		<h3>Termin anlegen/bearbeiten<a name="TerminBearbeiten"></a></h3>
		<p>
			Für Termin anlegen und bearbeiten gelten die gleichen Voraussetzungen, daher wird dies in einem Punkt beschrieben. Auf der Maske gibt es die folgenden Felder:
		</p>
		<figure>
			<%= image_tag("../images/TermineBearbeiten.png") %>
			<figcaption>Die Maske um einen neuen Termin anzulegen oder einen bereits bestehenden Termin abzuändern</figcaption>
		</figure>
		<table>
			<tr>
				<th>Feld</th>
				<th>Beschreibung</th>
				<th>Plausi</th>
			</tr>
			<tr>
				<td>Datum</td>
				<td>Ein DatePicker-Feld mit dem das Datum für den Termin ausgewählt werden kann.</td>
				<td>Pflichtfeld</td>
			</tr>
			<tr>
				<td>Uhrzeit</td>
				<td>Das Feld Uhrzeit besteht aus zwei Auswahlfeldern, eines für die Stunden (00 bis 23) und eines für die Minuten (00, 15, 30 und 45)</td>
				<td>Pflichtfeld</td>
			</tr>
			<tr>
				<td>Teilnehmer Anrede</td>
				<td>Ein Auswahlfeld mit Herr und Frau</td>
				<td>Pflichtfeld</td>
			</tr>
			<tr>
				<td>Teilnehmer Titel</td>
				<td>In dieses Feld kann der Titel des Teilnehmers eingetragen werden, z.B. Dr. Prof.</td>
				<td>Darf nicht länger als 10 Zeichen sein</td>
			</tr>
			<tr>
				<td>Teilnehmer Name</td>
				<td>Der Nachname des Teilnehmers</td>
				<td>Pflichtfeld und darf nicht länger als 50 Zeichen sein</td>
			</tr>
			<tr>
				<td>Teilnehmer Firma</td>
				<td>Die Firma des Teilnehmers</td>
				<td>Darf nicht länger als 50 Zeichen sein</td>
			</tr>
			<tr>
				<td>Clear Group Mitarbieter Anrede</td>
				<td>Ein Auswahlfeld mit Herr und Frau</td>
				<td></td>
			</tr>
			<tr>
				<td>Clear Group Mitarbieter Name</td>
				<td>Der Nachname des Clear Group Mitarbeiters</td>
				<td>Darf nicht länger als 50 Zeichen sein</td>
			</tr>
		</table>
		<p>
			In das Feld "Datum" kann man händisch ein gewünschtes Datum eintragen, oder die Funktionalität des DatePickers nutzen. Dazu betätigt man den Knopf ganz rechts im Datumsfeld. Es öffnet sich ein eigener kleiner Kalender über den man nun das Datum wählen kann. Das heutige Datum wird immer orange hervorgehoben, das ausgewählte Datum blau. Man kann über die Schaltflächen oben links und rechts jeweils einen Monat vor oder zurück blättern. Über die Schaltfläche "Heute" ganz unten kann man direkt zum heutigen Tag navigieren.
		</p>
		<figure>
			<%= image_tag("../images/Datumsauswahl.png") %>
			<figcaption>Die Auswahl des Datum funktioniert komfortabel über einen kleinen Kalender.</figcaption>
		</figure>
		<p>
			Wie sie der oberen Tabelle entnehmen können gibt es für einige Felder Voraussetzungen die zum erfolgreichen speichern erfüllt werden müssen. Die Aussage Pflichfeld bedeutet, dass das Feld immer ausgefüllt werden muss. Eine Sonderheit gibt es zu den Prüfungen in der Tabelle. Die Felder "Clear Group Mitarbieter Anrede" und "Clear Group Mitarbieter Name" sind voneinander abhängig. Man muss in diese Felder nichts eintragen, aber sobald eines der beiden Felder gefüllt ist, muss das andere auch gefüllt werden.
		</p>
		<p>
			Haben Sie alle Felder ausgefüllt so drücken Sie auf den Button "Speichern". Sollten nun Fehler aufgetreten sein, werden Ihnen diese oben in der Maske ausgegeben und Sie müssen Ihre Daten nochmals überarbeiten.
		</p>
		<figure>
			<%= image_tag("../images/Fehler.png") %>
			<figcaption>Fehler beim Speichern</figcaption>
		</figure>
		<p>
			Konnten Sie Ihren Termin korrekt speichern, so werden Ihnen die <a href="#Termindetails">Termindetails</a> angezeigt.
		</p>
	</div>
	<div class="row">	
		<h3>Termindetails<a name="Termindetails"></a></h3>
		<p>
			In den Termindetails finden Sie alle Informationen zu einem Termin. Auch hier finden Sie die selben Aktionen wie in der <a href="#Termine">Terminliste</a>.
		</p>
		<figure>
			<%= image_tag("../images/Termindetails.png") %>
			<figcaption>Anzeige aller Informationen zu einem Termin</figcaption>
		</figure>
	</div>
</div>