<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading --> 

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.table_header_column_appointment') %></th>
          <th><%= t('.table_header_column_external_participant') %></th>
          <th><%= t('.table_header_column_external_participant_company') %></th>
          <th><%= t('.table_header_column_clear_group_employee') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.formatted_begin %></td>
            <td><%= appointment.external_participant_salutation %> <%= appointment.external_participant_title %> <%= appointment.external_participant_name %></td>
            <td><%= appointment.external_participant_company %></td>
            <td><%= appointment.clear_group_employee_salutation %> <%= appointment.clear_group_employee_name %></td>
            <td><%= link_to t('.show'), appointment %></td>
            <td><%= link_to t('.edit'), edit_appointment_path(appointment) %></td>
            <td><%= link_to t('.destroy'), appointment, method: :delete, data: { confirm: t('.confirm') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- /.panel-body -->
  <div class="center">
     <%= will_paginate @appointments, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="panel-footer">
    <%= link_to t('.new_appointment'), new_appointment_path %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
