<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2>Termine</h2>
  </div> <!-- /.panel-heading --> 

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Termin Beginn</th>
          <th>Termin Ende</th>
          <th>Teilnehmer</th>
          <th>Teilnehmer Firma</th>
          <th>Clear Group Mitarbeiter</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.formatted_begin %></td>
            <td><%= appointment.formatted_end %></td>
            <td><%= appointment.external_participant_salutation %> <%= appointment.external_participant_title %> <%= appointment.external_participant_name %></td>
            <td><%= appointment.external_participant_company %></td>
            <td><%= appointment.clear_group_employee_salutation %> <%= appointment.clear_group_employee_name %></td>
            <td><%= link_to 'Anzeigen', appointment %></td>
            <td><%= link_to 'Bearbeiten', edit_appointment_path(appointment) %></td>
            <td><%= link_to 'Löschen', appointment, method: :delete, data: { confirm: 'Wollen Sie den Termin wirklich löschen?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- /.panel-body -->

  <div class="panel-footer">
    <%= link_to 'Neuer Termin', new_appointment_path %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
