<div class="panel panel-default">
  <div class="panel-heading"> 
    <h1>Termindetails</h1>
  </div> <!-- /.panel-heading --> 

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Termin Beginn:</strong>
      </div>
      <div class="col-xs-6 col-md-9">
        <%= @appointment.begin_date %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Termin Ende:</strong>
      </div>
      <div class="col-xs-6 col-md-9">        
        <%= @appointment.end_date %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Teilnehmer Anrede:</strong>
      </div>
      <div class="col-xs-6 col-md-9">                
        <%= @appointment.external_participant_salutation %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Teilnehmer Name:</strong>
      </div>
      <div class="col-xs-6 col-md-9">                        
        <%= @appointment.external_participant_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Teilnehmer Firma:</strong>
      </div>
      <div class="col-xs-6 col-md-9">        
        <%= @appointment.external_participant_company %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Clear Group Mitarbeiter Anrede:</strong>
      </div>
      <div class="col-xs-6 col-md-9">              
        <%= @appointment.clear_group_employee_salutation %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <strong>Clear Group Mitarbeiter Name:</strong>
      </div>
      <div class="col-xs-6 col-md-9">                      
        <%= @appointment.clear_group_employee_name %>
      </div>
    </div>
  </div> <!-- /.panel-body -->

  <div class="panel-footer">
    <%= link_to "Bearbeiten", edit_appointment_path(@appointment) %> |
    <%= link_to 'Zurück', appointments_path %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
