<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("../images/logo-navbar.png", class: "navbar-brand-image"), root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-pencil"></span> Registrieren
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Anmelden
            <% end %>
          </li> 
        <% else %>
          <li>
            <%= link_to appointments_path do %>
               <span class="glyphicon glyphicon-calendar"></span> Kalender
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
               <span class="glyphicon glyphicon-list"></span> Termine
            <% end %>
          </li>          
          <li>
            <%= link_to new_appointment_path do %>
              <span class="glyphicon glyphicon-plus"></span> Neuer Termin
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span> Account Einstellungen
            <% end %>
          </li> 
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span> Abmelden
            <% end %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
